# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

## Introduction
This notebook covers various exercises related to markdown and basic Python coding.

**Objectives:**
* popular languages for data science is python, r etc.
* it helps to explore data science experiments using jupyter labs

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java
4. javascript

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. seaborn
4. keras

|**Data Science Tools**|
---------
|juypter|
|juypterlab|
|Apache zepplin|

## Arithmetic Expression Examples
In this section, we'll explore examples of basic arithmetic expressions.

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
x=(7*8)+9
print(x)
#This a simple arithmetic expression to mutiply then add integers

65

In [8]:
#This will convert 500 minutes to hours by diving by 60
x=500/60
print(x, "hours")

8.333333333333334 hours

## Author
Abhishek Lakhote